/* Add CSS Styling */
.one {
    background-color: black;
    color: white;
}

.two {
    background-color: yellow;
}

.one, .two {
    font-size: 28px;
    font-family: 'helvetica' 'Times New Roman' 'sans-serif';
}